@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.background-image{
    width:100vw;
    position:absolute;
    display:flex;
    justify-content:center;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    background-color: rgb(192, 188, 188);
}
.bio1{
    box-shadow:10px 10px 30px black;
    margin-left:30px;
    padding:10px;
    border-radius:70px;
    background-color: whitesmoke;
    color:rgb(0, 0, 0);
    margin-top:30px;
    font-family: sans-serif;
    font-size:1.5rem;
    font-weight: 400;
    position:absolute;
    display:flex;
    justify-content:center;
    z-index: 1000;
}
.bio2{
    box-shadow:10px 10px 30px black;
    margin-left:30px;
    padding : 10px;
    border-radius:70px;
    background-color: whitesmoke;
    color:rgb(0, 0, 0);
    margin-top:1000px;
    font-family: Hind Siliguri,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size:1.5rem;
    font-weight: 400;
    position:absolute;
    display:flex;
    justify-content:center;
    z-index: 1000;
}
.connect-line{
    position:relative;
    display:flex;
    justify-content:start;
    z-index: 1000;
}
.connect-link{
    position:relative;
    display:flex;
    justify-content:start;
    z-index: 1000;
}
i{
    color:rgb(0, 0, 0);
    font-size:5rem;
    margin:auto;
}
h3{
    text-decoration:underline;
}